fastapi
uvicorn[standard]
python-multipart
python-dotenv
pypdf
groq

langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-groq

chromadb
sentence-transformers
